<div class="container">
  <h2>Nearby Vehicles</h2>
  <%= render partial: 'shared/vehicle', locals: { vehicle: Vehicle.first } %>
  <%= render partial: 'shared/vehicle', locals: { vehicle: Vehicle.first } %>
  <%= render partial: 'shared/vehicle', locals: { vehicle: Vehicle.first } %>
  <%= render partial: 'shared/vehicle', locals: { vehicle: Vehicle.first } %>
</div>
