<div class="masthead">
  <div class="va-container container width-50-100">
    <div class="va-middle">
      <p class="lead">
      "Renting my RV put $11,300 in my pocket this year.
      It was easy, safe and I'd recommend it to anyone with an RV just sitting in their driveway
      or storage."</p>
      <cite class="txt-white">
        <strong>Mia Vallo</strong> - Sr. Director,
        Marketing Analytics, National Geographic</cite>
    </div>
  </div>
</div>
