<%= render 'hot_stuff' %>
<%= render 'masthead' %>
<div class="container padding">
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-txt austin-card">
        <div class="va-container">
          <div class="va-middle text-center">
            <a href="#" class="txt-upcase txt-white txt-simple txt-heavy">
              AUSTIN
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-txt new-orleans-card">
        <div class="va-container">
          <div class="va-middle text-center">
            <a href="#" class="txt-upcase txt-white txt-simple txt-heavy">
              New Orleans
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-txt minneapolis-card">
        <div class="va-container">
          <div class="va-middle text-center">
            <a href="#" class="txt-upcase txt-white txt-simple txt-heavy">
              Minneapolis
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="txt-center full-width col-sm-12">
      <a href="#" class="btn btn-default">View More Destinations</a>
    </div>
  </div>
</div>
<%= render 'rv_types' %>