<%= form_tag search_vehicles_path(location: ''), method: :get do %>
  <div class="col-md-6">
    <div class="form-group">
      <label class="sr-only" for="checkin">Pickup</label>
      <%= text_field_tag :pickup, params[:pickup] || (Date.today).strftime('%x'), class: "form-control", id: "pickup" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="sr-only" for="checkout">Drop-off</label>
      <%= text_field_tag :dropoff, params[:dropoff] || (Date.today + 2).strftime('%x'), class: "form-control", id: "dropoff" %>
    </div>
  </div>
    <table class="table">
      <tr>
        <td class="line-description">Rental Amount</td>
        <td class="line-price">$350</td>
      </tr>
      <tr>
        <td class="line-description">Service Fee <i class="fa help-box fa-question-circle"></i></td>
        <td class="line-price">$35</td>
      </tr>
      <tr>
        <td class="line-description total-description"><strong>Total</strong></td>
        <td class="total-price"><strong>$385</strong></td>
      </tr>
      <tr>
        <td class="line-description">Security Deposit <i class="fa help-box fa-question-circle"></i></td>
        <td class="line-price">$2,500</td>
      </tr>
    </table>
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="reservation-deposit">
          <p><strong>$385.00</strong> due to reserve.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-default btn-primary full-width">Request Booking</button>
    </div>
<% end %>
