@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "checkboxes";
@import "toastr";
@import "card";
@import "login-modal";
@import "plugins/calendar/calendar-backend";
@import "plugins/calendar/calendar-frontend";
@import "plugins/calendar/calendar-select";
@import "photoswipe/photoswipe";
@import "photoswipe/default-skin/default-skin.scss";
@import "jquery-ui-theme";

$primary-color: #0f9d58;
$border-color: #e7e7e7;

$brand-danger:  #d9534f;

.bg-danger {
  color: #fff;
  background-color: $brand-danger;
}

.flash {
  padding: 2px 5px;
}

@mixin cover-background {
  background-color: #f5f5f5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed;
}

body{
  color: #565A5C;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #565a5c;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .main-container{
    padding-top: 20px;
  }
}

.nav > li > a > img {
  margin-top: -3px;
}

.row-table {
    display: table;
    table-layout: fixed;
}

table th:first-child {
  border-top: none !important;
}

.label.pull-right {
  line-height: 18px;
}

.item-image {
  a {
    display: block;
    height: 200px;
  }
  overflow: hidden;
  padding: 0;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    width: auto;
    height: 100%;
  }

  .image-caption {
    vertical-align: middle;
    padding: 30px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    @include gradient-vertical(transparent, rgba(0,0,0,0.8));
    color: #fff;
    text-align: center;
  }
}

.col-middle {
    vertical-align: middle;
}

.col-top, .col-middle, .col-bottom {
    float: none;
    display: table-cell;
}

.va-container {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.va-top, .va-middle, .va-bottom {
  display: table-cell;
}

.va-middle {
  vertical-align: middle;
}

a:hover, a:focus {
  text-decoration: none;
}

.txt-white,
.txt-white:hover,
.txt-white:focus {
  color: #fff;
}

.txt-simple,
.txt-simple:hover,
.txt-simple:focus {
  text-decoration: none !important;
}

.txt-normal, a.txt-normal, a.txt-normal:hover, a.txt-normal:focus {
    color: #565A5C;
}

.txt-center {
  text-align: center;
}

.padding {
  padding: 40px 0;
}

.header-padding {
  padding: 10px 0;
}

.txt-small {
  font-size: 75%;
}

.txt-med {
  font-weight: 600;
}

.txt-heavy {
  font-weight: 700;
}

.txt-jumbo {
  font-size: 60px;
}

.txt-upcase {
  text-transform: uppercase;
}

.lead {
  margin: 0 auto 30px;
  font-size: 30px;
  color: #fff;
}

.dropdown-toggle {
  padding-top: 12px;
}

.no-padding {
  padding: 0;
}

.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.spacer {
  margin-top: 20px;
}

.absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

// ANIMATIONS

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.vehicles_new .main-container,
.vehicles_create .main-container,
.destinations_show .main-container,
.vehicle_types_show .main-container,
.vehicles_show .main-container{
  padding: 0;
}

.secondary-nav {
  .container,
  .navbar-collapse {
    padding: 0;
  }
  background: #333;
  .nav > li > a,
  .nav > li > a:hover,
  .nav > li > a:focus {
    color: #efefef;
    padding: 8px 20px 5px;
    background: #333;
    border-bottom: 4px solid #333;
  }
  .nav > li > a.active {
    border-bottom: 4px solid #f5f5f5;
  }
}

@media (max-width: 990px) {
  .secondary-nav {
    .nav > li > a.active {
      border-bottom: 4px solid #333;
    }
  }
}
.navbar {
  margin-bottom: 0;
}

.navbar-toggle, .navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border: none;
  background: transparent;
}

.navbar-nav {
    // margin: 0 -15px 7.5px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-left: 1px solid $border-color;
  &:hover {
    background-color: lighten($border-color, 8%);
  }
}

@media (min-width: 767px) {
  .pages_home {
    .navbar-default {
      .navbar-brand,
      .navbar-brand:hover {
        color: #fff;
        background: transparent;
      }
      background: transparent;
      .navbar-nav > li > a,
      .navbar-nav > li > a:hover,
      .navbar-nav > li > a:focus {
        color: #fff;
        height: 50px;
        background-color: transparent;
      }
    }
  }
}
.panel{
  border-radius: 0px;
}

.container{
  width: 80%;
}
@media (min-width: 768px) {
  .container {
      width: 745px;
  }
}
@media (min-width: 1100px) {
  .container {
      width: 1045px;
  }
}


.full-width {
  width: 100%;
}

.width-50-100 {
  width: 50%;
}

@media (max-width: 1100px) {
  .width-50-100 {
    width: 100%;
  }
}

.masthead {
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: $primary-color;
  position: relative;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 768px) {
  .masthead {
    padding: 40px 0;
    .lead {
      font-size: 20px;
    }
  }
}

.navbar-default{
  background-color: #FFFFFF;
  .navbar-brand{
    color: $primary-color;
    font-size: 2em;
    font-weight: 500;
    border-right: 1px solid $border-color;
    &:hover{
      color: $primary-color;
      background-color: lighten($border-color, 8%);
    }
  }
}

.btn-primary.btn{
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $primary-color;
  color: #FFF;
  padding: 10px 25px;
  margin-right: 20px;
  &:hover, &:focus{
    // border-color: #FF7E82;
    // border-bottom-color: #FA0008;
    // background-color: #FF7E82;
    background-color: lighten($primary-color, 10%);
    outline:none;
  }
  &:active{
    // border-color: #E00007;
    // background-color: #E00007;
    outline: none;
  }
}

.btn-default.btn{
  // width: 100%;
  border-radius: 2px;
  // padding: 10px 0;
  // margin-top: 10px;
}

.btn-primary.btn.facebook-btn{
  border: 1px solid #3E5B99;
  background-color: #3E5B99;
  color: #FFF;

  &:hover, &:focus{
    border-color: #486AB2;
    border-bottom-color: #243559;
    background-color: #486AB2;
  }
  &:active{
    border-color: #304879;
    background-color: #304879;
  }
}

.btn-primary.btn.google-btn{
  border: 1px solid #DD4B39;
  background-color: #DD4B39;
  color: #FFF;

  &:hover, &:focus{
    border-color: #E05D4D;
    border-bottom-color: #852D22;
    background-color: #E05D4D;
  }
  &:active{
    border-color: #852D22;
    background-color: #852D22;
  }
}

.google-btn, .facebook-btn{
  width: 230px;
  img{
    position: relative;
    top: -2px;
    right: 5px;
  }
}

.google-row{
  margin-top: 15px;
}
.panel-default .panel-heading{
  color: #565A5C;
  background-color: #EDEFED;
  font-size: 18px;
  font-weight: 400;
}

.row-space-1{
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2{
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3{
  margin-top: 24px;
  margin-bottom: 24px;
}

.description{
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.avatar-small{
  width: 23px;
}

.avatar-medium{
  width: 48px;
}

.avatar-large{
  width: 68px;
  margin-right: 10px;
}

.avatar-full{
  width: 100%;
}

.form-group{
  // margin-bottom: 25px;
}

.field_with_errors {
  @extend .has-error;
  input {
    background-color: #EBCDCC;
  }
}

.form-control{
  border-radius: 2px;
  height: 4rem;
}

.sidebar-list{
  padding-left: 0px;
  list-style: none;
}

.sidebar-item{
  padding: 10px 0;
  font-size: 16px;
  color: #565A5C;
  border-bottom: 1px solid #CCC;
}

.sidebar-link{
  color: #82888A;
  text-decoration: none;

  &:hover, &:focus{
    color: #CACCCD;
    text-decoration: none;
  }
}

.active.sidebar-link{
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

.modal-content {
  border-radius: 0;
}

label {
  color: #565A5C;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

select{
  color: #565A5C;
  background-color: #FFF;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:before{
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #82888A;
  top: 38px;
  right: 30px;
  transform: scale(0.84, 0.5);
}

.radio,
.checkbox {
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type=checkbox]{
  // height: 1.25em;
  // width: 1.25em;
  // margin-right: 5px;
  // vertical-align: top;
  // border: 1px solid #C4C4C4;
  // border-radius: 2px;
}

input[type=checkbox]:checked:before{
  // content: '\2713';
  // position: absolute;
  // font-size: 0.95em;
  // text-align: center;
  // width: 1.25em;
  // color: #FF5a5F;
}

.btn-file{
  position: relative;
  overflow: hidden;

  input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity:0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}

.panel-heading.preview{
  padding: 0px;
  img{
    width: 100%;
  }
}

.amenities li{
  margin-bottom: 10px;
  list-style-type: none;
}

.text-line-through{
  text-decoration: line-through;
}

.reservation-table td{
  width: 100%;
  border: 1px solid #DCE0E0;
  padding: 10px;
}

@media (min-width: 768px) {
  .hot-stuff-bg {
    height: 668px;
  }
}

.hot-stuff .container {
  text-align: center;
}

.hot-stuff {
    height: 527px;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
  .hot-stuff {
      padding-bottom: 104px;
  }
}

.hot-stuff-bg {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.hot-stuff-bg video {
  bottom: 0;
  position: absolute;
}

@media (min-width: 1100px) {
  .hot-stuff-bg video {
      height: auto;
      width: 100%;
  }
}

.hot-stuff-footer{
  background-color: rgba(255,255,255,.6);
  bottom: 0;
  left: 0;
  padding-bottom: 9px;
  padding-top: 30px;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .hot-stuff-bg {
    video {
      position: relative;
      left: -50%;
      top: -102px;
    }
  }
  .hot-stuff-footer{
    padding-bottom: 30px;
  }
}

@media (max-width: 990px) {
  .hot-stuff-footer{
    padding-bottom: 30px;
  }
}

.cover-img {
  @include cover-background;
  height: 100%;
}
#photos {
  height: 402px;
  position: relative;
  width: 100%;
  @include transition(height .2s);
}

.sidebar-offcanvas {
  width: 300px;
  float: left;
  background: #f5f5f5;
  z-index: 1001;
  padding: 15px;
}
.main {
  margin-left: 300px;
  left: auto;
  padding: 15px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 900px) {
  .main {
    margin-left: 0;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -9999px;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: 0;
  }

  .sidebar-offcanvas {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.sort {
      padding: 5px;
}

.vehicle-search-block {
  .img-responsive {
    width: 100%;
  }
  .price {
    position: absolute;
    bottom: 100px;
    z-index: 4;
    left: 0;
    background-color: #777;
    color: #fff;
    padding: 8px;
    font-weight: bolder;
    font-size: 18px;
    small {
      color: #ddd;
    }
  }
  .avatar-medium {
    position: absolute;
    bottom: 35px;
    right: 10px;
    border: 1px solid #ddd;
  }
}
