<div class="container padding">
  <div class="row">

    <%- @vehicle_types.each do |type| %>
      <%= render partial: 'shared/vehicle_type', locals: { type: type } %>
    <%- end %>

  </div>
</div>
